<div class="container-fluid page-header my-6 mt-0 wow fadeIn" data-wow-delay="0.1s">
	<div class="container text-center">
		<h1 class="display-4 text-white mb-4">Account Login</h1>
	</div>
</div>

<!-- Form Start -->
<div class="container-xxl mb-5" id="services">
	<div class="container">
		<div class="row justify-content-center mb-5">
			<div class="col-lg-8 mb-0 wow mb-5">
				<div class="bg-primary text-center p-5">
					<h1 class="mb-4">Login to your account</h1>
					<p class="mb-4">No account?
						<a routerLink="/index" fragment="contact" id="contact-us-now"><u>Contact us now</u></a>
					</p>

					<form class="needs-validation" id="contact-form"
						  [formGroup]="loginForm">
						<div class="row g-3">
							<div class="col-sm-6">
								<div class="form-floating">
									<input type="text" class="form-control border-0" id="username" name="username" placeholder="Username" maxlength="50"
										   formControlName="username"
										   [ngClass]="username?.errors && submitted || submitted && invalidCredentials ? 'form-control border-0 is-invalid' : 'form-control border-0'">
									<label for="username">UserName</label>
									<div class="invalid-feedback">enter a valid username</div>
								</div>
							</div>

							<div class="col-sm-6">
								<div class="form-floating">
									<input type="password" class="form-control border-0" id="password" name="password" placeholder="Password" maxlength="50"
										   formControlName="password"
										   [ngClass]="password?.errors && submitted || submitted && invalidCredentials ? 'form-control border-0 is-invalid' : 'form-control border-0'">
									<label for="password">Password</label>
									<div class="invalid-feedback">enter a valid password</div>
								</div>
							</div>

							<div class="col-12">
								<button class="btn btn-dark w-100 py-3" type="submit" id="submit-button" (click)="onSubmit()">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!-- Form End -->
